@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
    max-width: 540px;
  } */

.head_container {
  max-width: 760px;
  padding: "2rem",
}

.city-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.city-card {

  width: 100%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image: url('./images/back1.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  
  /* height: 30vh; */
}

.city-card:hover {
  border: 3px solid rgb(138, 191, 231);
}

.backgroud-city {
  background-image: url('./images/back1.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.city-card2 {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* height: 30vh; */
}

.main-background {
  background-image: url('./images/back2.png');
  background-size: cover;
  background-size: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.blank-city {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
}

.city-card h2 {
  font-size: 20px;
  font-weight: 600;
}

.city-card p {
  font-size: 16px;
  font-weight: 400;
}

.city-card2 h2 {
  font-size: 20px;
  font-weight: 600;
}

.city-card2 p {
  font-size: 16px;
  font-weight: 400;
}